<div class="table-responsive">
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th>Name</th>
                <th>Ganre</th>
                <th>Release Date</th>
                <th>
                    <input type="checkbox" @bind="displayButtons" />
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Games == null)
            {
                @if (NullList != null)
                {
                    <tr>@NullList</tr>
                }
                else
                {
                    <img src="https://media.tenor.com/images/a742721ea2075bc3956a2ff62c9bfeef/tenor.gif"
                         style="height: 100px;" />

                }
            }
            else if (Games.Count == 0)
            {
                @if (EmptyList != null)
                {
                    <tr>@EmptyList</tr>
                }
                else
                {
                    <span>empty</span>

                }
            }
            else
            {
                @foreach (var item in Games)
                {

                    <IndividualGame Game="item"
                                    IsTable="true"
                                    DisplayButtons="displayButtons"
                                    DeleteGame="DeleteTheGame" />
                }
            }
        </tbody>
    </table>
</div>

@code {
    [Parameter]
    public List<Game> Games { get; set; }

    [Parameter]
    public RenderFragment NullList { get; set; }

    [Parameter]
    public RenderFragment EmptyList { get; set; }

    bool displayButtons = false;

    void DeleteTheGame(Game game)
    {
        Games.Remove(game);
    }
}
